aiohttp==3.8.1
aiosignal==1.2.0
appnope==0.1.2
arabic-reshaper==2.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.4.1
asn1crypto==1.5.1
async-timeout==4.0.2
attrs==21.3.0
backcall==0.2.0
backports.zoneinfo==0.2.1
black==22.1.0
bleach==4.1.0
boto3==1.21.12
botocore==1.24.12
Brotli==1.0.9
cachetools==4.2.4
cairocffi==1.3.0
CairoSVG==2.5.2
catboost==0.26.1
category-encoders==2.2.2
cchardet==2.1.7
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
cloudpickle==2.0.0
colorama==0.4.4
commonmark==0.9.1
cryptography==37.0.2
cssselect2==0.6.0
cycler==0.11.0
dash==2.0.0
dash-core-components==2.0.0
dash-cytoscape==0.3.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2021.10.0
dask-kubernetes==2021.10.0
decorator==5.1.0
defusedxml==0.7.1
dice-ml==0.7.2
dill==0.3.4
distlib==0.3.4
distributed==2021.10.0
dj-database-url==0.5.0
Django==4.0
django-cors-headers==3.11.0
django-extensions==3.1.5
django-jsonfield==1.4.1
django-rest-passwordreset==1.2.1
django-storages==1.12.3
djangorestframework==3.13.1
djangorestframework-simplejwt==5.0.0
dowhy==0.6
Flask==1.0.4
Flask-Compress==1.10.1
fonttools==4.33.3
fpdf==1.7.2
frozenlist==1.2.0
fsspec==2021.11.1
future==0.18.2
google-auth==2.3.3
graphviz==0.19.1
h5py==3.6.0
HeapDict==1.0.1
html5lib==1.1
idna==3.3
importlib-resources==5.8.0
itsdangerous==2.0.1
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
jsonschema==4.3.2
kiwisolver==1.3.2
kubernetes==21.7.0
kubernetes-asyncio==19.15.0
lightgbm==3.2.1
llvmlite==0.36.0
locket==0.2.1
lxml==4.9.0
MarkupSafe==2.0.1
matplotlib==3.4.3
mpmath==1.2.1
msgpack==1.0.3
multidict==5.2.0
mypy-extensions==0.4.3
networkx==2.5
numba==0.53.1
numpy==1.21.5
oauthlib==3.1.1
oscrypto==1.3.0
packaging==21.3
pandas==1.3.3
pangocffi==0.10.0
partd==1.2.0
pathspec==0.9.0
patsy==0.5.2
pdfkit==1.0.0
Pillow==9.1.1
platformdirs==2.4.1
plotly==5.3.1
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydot==1.4.2
pydyf==0.2.0
pyHanko==0.13.1
pyhanko-certvalidator==0.19.5
PyJWT==2.3.0
pyparsing==3.0.6
PyPDF3==1.0.6
pyphen==0.12.0
pyrsistent==0.18.0
python-bidi==0.4.2
python-dateutil==2.8.2
python-decouple==3.6
pytz==2021.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
qrcode==7.3.1
reportlab==3.6.10
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.8
s3transfer==0.5.2
scikit-learn==1.0.2
scipy==1.7.3
six==1.16.0
slicer==0.0.7
sortedcontainers==2.4.0
sqlparse==0.4.2
statsmodels==0.13.1
svglib==1.3.0
sympy==1.9
tblib==1.7.0
tenacity==8.0.1
threadpoolctl==3.0.0
tinycss2==1.1.1
tomli==2.0.0
toolz==0.11.2
tornado==6.1
tqdm==4.62.3
typing-extensions==4.0.1
tzdata==2022.1
tzlocal==4.2
uritools==4.0.0
urllib3==1.26.7
weasyprint==53.3
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==2.0.2
whitenoise==6.2.0
xhtml2pdf==0.2.8
yarl==1.7.2
zict==2.0.0
zipp==3.8.0
zopfli==0.2.1
